@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial;
  background-color: #F5F3F5;
  text-align: center;
}

.section-box {
  @apply bg-section-colour rounded-lg border border-gray-900 hover:shadow-xl m-[1.5vw] lg:mx-[10vw] text-text-colour;
  border-width: 0.3vw;
}

.project-box {
  @apply bg-project-colour rounded-xl border border-gray-300 hover:shadow-2xl hover:bg-project-hover-colour m-[1vw] md:mx-[15vw] p-[0.5vw] px-[2vw] text-[6vw] lg:text-[2.5vw] lg:mx-[1vw] lg:my-[0.5vw] lg:p-[0.25vw] lg:px-[1vw];
  border-width: 0.15vw;
}

.project-box:hover {
  border-color: #3a5360;
}